body {
  font-family: 'Open Sans', sans-serif;
  height: 200vh;
  background: rgb(203, 197, 197);
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.accordion-wrapper {
  border-radius: 10px;
  overflow: hidden;
  width: 600px;
  margin: 0 auto;
}

.accordion-wrapper:hover .accordion-label::after,.accordion-wrapper:hover .accordion{
  color: white;
}

.accordion {
  width: 100%;
  color: rgb(9, 48, 112);
  overflow: hidden;
  margin-bottom: 16px;
}

.accordion:last-child{
  margin-bottom: 0;
}

.accordion-label {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: rgba(204, 8, 197, 0.8);
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
}

.accordion-label:hover {
  background: rgb(156, 35, 255);
}

.accordion-label:hover ~ .accordion-content{
  max-height: 40vh;
  padding: 16px;
}
  
.accordion-label::after {
  content: "×";
  color: rgba(204, 8, 197, 0.1);
  font-size: 2rem;
  text-align: center;
  transform: rotate(-45deg);
}

.accordion-content {
  max-height: 0;
  padding: 0 16px;
  color: rgba(4,57,94,1);
  background: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.accordion-content p{
  margin: 0;
  color: rgba(4,57,94,.7);
  font-size: 18px;
}

img{
  width: 400px;
}

input:checked + .accordion-label::after {
  transform: rotate(90deg);
  transition: 0.45s transform ease;
}
input:checked ~ .accordion-content {
  max-height: 40vh;
  padding: 16px;
}

@media (max-width: 650px) {
  .accordion{
    color: white;
    margin-bottom: 10px;
  }
  .accordion-label::after {
    color: white;
  }
  img{
    width: 300px;
  }
  .accordion-wrapper {
    width: 400px;
  }
  .accordion-label {
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
  }
  .accordion-label::after {
    font-size: 1rem;
  }
  .accordion-content p{
    font-size: 13px;
  }
}

@media (max-width: 450px) {
  img{
    width: 200px;
  }
  .accordion-wrapper {
    width: 300px;
  }
  .accordion{
    color: white;
    margin-bottom: 5px;
  }
}
